.article-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .article-tags {
    display: flex;
    gap: 10px;
    .tag {
      color: var(--white-50);
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(20px);
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
    }
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
    .article-tags {
      display: flex;
      gap: 10px;
      .tag {
        color: var(--white-50);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(20px);
        padding: 4px 4px;
        border-radius: 8px;
        font-size: 6px;
      }
    }
  }
}
.article-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.article-summary {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h2 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 10px 0;
    font-family: "inter", sans-serif;
  }
  p {
    font-size: 16px;
  }
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  p {
    font-size: 26px;
    line-height: 1.6;
    max-width: 600px;
    color: var(--mountain-meadow-500);
    font-family: "fira Code", monospace;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 40px;
    p {
      font-size: 20px;
      text-align: center;
      max-width: 100%;
    }
  }
}
.message-header {
  display: flex;
  flex-direction: column;
  gap: 180px;
  h1 {
    font-size: 52px;
    margin: 0;
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }
  @media (max-width: 1000px) {
    gap: 80px;
    h1 {
      font-size: 42px;
    }
  }
}
