@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
@layer variables {
  :root {
    /* COLORS */
    --big-stone-50: #f5f7fa;
    --big-stone-100: #eaeef4;
    --big-stone-200: #d0dbe7;
    --big-stone-300: #a6bcd3;
    --big-stone-400: #7799b9;
    --big-stone-500: #557ca2;
    --big-stone-600: #426287;
    --big-stone-700: #37506d;
    --big-stone-800: #30455c;
    --big-stone-900: #2c3c4e;
    --big-stone-950: #1f2937; /* Main Background Color */
    --mirage-50: #f0f7fe;
    --mirage-100: #deecfb;
    --mirage-200: #c4e0f9;
    --mirage-300: #9cccf4;
    --mirage-400: #6dafed;
    --mirage-500: #4b90e6;
    --mirage-600: #3674da;
    --mirage-700: #2d60c8;
    --mirage-800: #2a4fa3;
    --mirage-900: #274481;
    --mirage-950: #0f172a; /* Footer Background Color */
    --mountain-meadow-50: #ecfdf7;
    --mountain-meadow-100: #d1faec;
    --mountain-meadow-200: #a7f3da;
    --mountain-meadow-300: #6ee7bf;
    --mountain-meadow-400: #34d39e;
    --mountain-meadow-500: #10b981; /* Green Text Color */
    --mountain-meadow-600: #059666;
    --mountain-meadow-700: #047852;
    --mountain-meadow-800: #065f42;
    --mountain-meadow-900: #064e36;
    --mountain-meadow-950: #022c1e;
    --white-50: #ffffff; /* White Main Text Color */
    --white-100: #efefef;
    --white-200: #dcdcdc;
    --white-300: #bdbdbd;
    --white-400: #989898;
    --white-500: #7c7c7c;
    --white-600: #656565;
    --white-700: #525252;
    --white-800: #464646;
    --white-900: #3d3d3d;
    --white-950: #292929;
  }
}
@layer component {
  .navigation-component {
    display: flex;
    flex-direction: row;
    gap: var(--nav-gap, 1026px);
    align-items: center;
    padding: 0.125rem 0rem 0.125rem 2.5rem; /* top, right, bottom, left = 10px */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 18px 22px -6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(110.4000015258789px);
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: var(--nav-ul-gap, 2.5rem);
      font-size: 18px;
      font-family: var(--font-family, "Inter", sans-serif);
      font-weight: 500;
    }
    img {
      width: 42px; /* fixed width or max-width is better than % here */
      height: 42px; /* maintain aspect ratio */
      object-fit: contain; /* optional: clean scaling */
    }
  }
}
